<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
    <h1>Cars</h1>

    <table border="1">
        <tr>
            <th>No</th>
            <th>Model</th>
            <th>Series</th>
            <th>Price</th>
        </tr>

        <tr th:each="car, state : ${cars}">
            <td th:text="${state.count}">No</td>
            <td th:text="${car.model}">Model</td>
            <td th:text="${car.series}">Series</td>
            <td th:text="${car.price}">Price</td>
        </tr>
    </table>
</body>
</html>